@charset "utf-8";

@import "compass/reset";
@import "compass";
@import "ceaser-easing";

$promo_bg_color: #f1efea;
$font_color: #515151;
$bg_color: #fff;

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  color: $font_color;
  font-size: 13px;
  font-family: $ff-gothic-full;
}

a {
  @include link-colors($font_color);
}

p {
  line-height: 1.62em;
  text-rendering: optimizeSpeed;
}

h1, h2, h3 {
  line-height: 1.333em;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}

hr {
  width: 90%;
  height: 1px;
  border: none;
  border-top: 1px solid #4f4146;
  background: none;
}

// -----
// Components
// -----

.group {
  margin: 10px 0;
}

.big {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Metro Nova W01 Italic', sans-serif;
}
