@charset "utf-8";

@import "compass/reset";
@import "compass";
@import "ceaser-easing";
@import "mixins";
@import "splittable";
@import "animate";

$promo_bg_color: #f1efea;
$font_color: #515151;
$bg_color: #fff;

*, *:after, *:before {
  @include box-sizing(border-box);
}

body {
  color: $font_color;
  font-size: 13px;
  font-family: $ff-gothic-full;
}

a {
  @include link-colors($font_color);
}

p, h1, h2, h3 {
  line-height: 1.62em;
}

h1 {
  line-height: 1.333em;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 15px;
}

hr {
  width: 90%;
  height: 1px;
  border: none;
  border-top: 1px solid #4f4146;
  background: none;
}

// -----
// Components
// -----

// Buttons
.button {
  width: 100%;
  line-height: 2.2em;
  display: inline-block;
  padding: 0 2em;
  font-family: 'Metro Nova W01 Italic', sans-serif;
  font-size: 1.2em;
  text-transform: lowercase;
  text-align: center;
  text-decoration: none;
  border: 4px solid;
}

@mixin button($btn_font_color, $btn_bg_color) {
  .button:link, .button:visited {
    background-color: $btn_bg_color;
    color: $btn_font_color;
    border-color: $btn_font_color;
  }

  .button:hover, .button:active {
    background-color: $btn_font_color;
    color: $btn_bg_color !important;
    border-color: $btn_font_color;
  }
}

button.button {
  line-height: normal;
}

@include button($font_color, $bg_color);

.group {
  margin: 10px 0;
}

.big {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Metro Nova W01 Italic', sans-serif;
}

// -----
// Layouts
// -----

.container {
  width: 960px;
  margin: 0 auto;

  @include bp-medium {
    width: auto;
    padding: 10px;
  }
}

// Header
.header {
  text-align: center;
}

// Contents
.wrapper {
  width: 100%;
  text-align: center;
}

// Sections
.section {

}

// Footer
.footer {
  margin: 0 0 15px;
  text-align: center;
}